In [5]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [48]:
n= 4

for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("ineuron",end=" ")
        
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("ineuron",end=" ")
    
    print()

      ineuron
    ineuron ineuron
  ineuron ineuron ineuron
    ineuron ineuron
      ineuron

In [3]:
n=6
for i in range(n):
    if i <= 3:
        n = i
    else:
        n = 6-i
    print(("ineuron"*n).center(50,' '))

                     ineuron
                  ineuronineuron
              ineuronineuronineuron
                  ineuronineuron
                     ineuron

In [14]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,5]),{'k1':"sudh",'k2':"ineuron","k3":"kumar",3:6,7:8},["ineuron","data sceince"]]

In [15]:
for i in l:
    if type(i) == list:
         print(i)

[1, 2, 3, 4]
['ineuron', 'data sceince']

In [16]:
for i in l:
    if type(i) == dict:
         print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [17]:
for i in l:
    if type(i) == tuple:
         print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [18]:
l1=[]
for i in l:
    if type(i)== list or type(i)== tuple or type(i) == dict :
        for j in i:
            if type(j)==int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
3
7

In [19]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data sceince']]

In [26]:
l1 = []
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i)== dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)

In [27]:
#try to extract all the numeric values from the list
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [28]:
sum(l1)

156

In [29]:
#try to find the odd values from the list
for i in l1:
    if i % 2 == 0 :
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [35]:
# try to extarct ineuron from this data
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,5]),{'k1':"sudh",'k2':"ineuron","k3":"kumar",3:6,7:8},["ineuron","data sceince"]]

In [39]:
l1 = []
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if j == 'ineuron':
                l1.append(j)
    if type(i)== dict:
        for k in i.items():
            for g in k:
                if g == 'ineuron':
                    l1.append(g)

In [40]:
l1

['ineuron', 'ineuron']

In [38]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data sceince']]

In [41]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data sceince']]

In [44]:
l1 = []
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i)== dict:
        for k in i.items():
            for g in k:
                if type(g) == int or type(g) == str:
                    l1.append(g)

In [45]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data sceince']

In [48]:
for i in set(l1):
    print(i, ":" ,l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
kumar : 1
8 : 1
ineuron : 2
45 : 1
k3 : 1
data sceince : 1
23 : 1
k1 : 1
sudh : 1

In [49]:
#try to find out the number of keys in dict

In [50]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data sceince']]

In [51]:
for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

In [52]:
#try to filter out all the string from the data

In [53]:
for i in l1:
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data sceince

In [54]:
#try to find out alpha numeric

In [55]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data sceince']

In [57]:
for i in l1:
    if type(i) == str :
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [58]:
#try to find out the multiplication of all

In [59]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data sceince']

In [72]:
j = 1
for i in l1:
    if type(i) == int:
        j = j *i
print(j)

908605071360000

In [75]:
#try to find out the multiplication of all numeric values in the individual collection inside data set

In [79]:
m =1
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int:
                m = m*j
        print(type(i) ,m)
    if type (i)== dict:
        for k in i.items():
            for n in k :
                if type(n) == int :
                    m = m * n
        print(type(i) ,m)

<class 'list'> 24
<class 'tuple'> 17280
<class 'tuple'> 43545600
<class 'set'> 901393920000
<class 'dict'> 908605071360000
<class 'list'> 908605071360000

In [80]:
#try to unwrape all the collection inside collection and create a flat list.

In [81]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data sceince']